certifi==2019.3.9
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.3
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
djangorestframework==3.9.3
httpie==3.1.0
idna==2.8
itypes==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
openapi-codec==1.3.2
pkg-resources==0.0.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
Pygments==2.4.2
pyorient==1.5.5
pyorient-native==1.2.3
pytz==2019.1
requests==2.22.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.3
